.our-portfolio__project-name {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 0px; 
  letter-spacing: 0.072px;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 50px;
  text-decoration: none;
}
