.direction-part__discription {
  margin: 0;
  color: #1d1d1d;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.24px;
  width: 168px;
}
