.intro-great-progect__count-done {
  margin: 0;
  color: #1d1d1d;
  text-align: center;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  padding-bottom: 16px;
}
