.our-portfolio__subtitle {
  color: #1d1d1d;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.165px;
  margin: 0;
  padding-top: 20px;
}
