.intro-ceo-quote__quote {
  margin: 0;
  color: #1d1d1d;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  padding: 0 25px 25px;
}
