.testimonial__quote {
  color: #464646;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.18px;
  opacity: 0.8;
  margin: 0;
  padding: 31px 31px 107px 40px;
}
