.offer__title {
  margin: 0;
  width: 491px;
  color: #1d1d1d;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.165px;
}
